h1 {
    background-color: rgb(111, 0, 214);
    color: darkred;
    font-size: 30px;
}

.header {
    width: 100%;
    background: url(Images\Hixoro.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}